/* ===== fonts ===== */
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
/* ===== end fonts ===== */

/* ===== wrapper ===== */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ===== end wrapper ===== */

/* ===== container ===== */
[class*="__container"] {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0px 15px; /* * Отступы безопасности, что бы контент не прилипал к краям экрана */
}
/* =====  end container ===== */

/* ===== body ===== */
body {
	font-family: "Larsseit", sans-serif;
	font-size: 24px;
	color: #22356f;
}
/* ===== end body ===== */

/* ===== main ===== */
.main {
	flex: 1 1 auto;
}
/* ===== end main ===== */

/* ===== header ===== */
.header {
	/* * Фиксация шапки абсолютно */
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	flex-wrap: wrap;
	min-height: 93px;
	align-items: center;
	justify-content: space-between;
}
.header__logo {
	font-weight: 700;
	line-height: 1.125;
	letter-spacing: -0.035em;
	color: #62d0df;
	margin: 0px 5px 0px 0px; /* * Отступы безопасности, что бы логотип не прилипал к меню */
}
.header__logo:hover {
	text-decoration: underline;
}
.header__menu {
	margin: 0px 5px 0px 0px; /* * Отступы безопасности, что бы меню не прилипало к кнопке */
}
.menu {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
}
.menu__item:hover {
	text-decoration: underline;
}
.menu__item:not(:last-child) {
	margin: 0px 27px 0px 0px;
}
.menu__link {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.142;
	color: #22356f;
}
.header__botton {
	background: #62d0df;
	border-radius: 50px;
	display: flex;
	align-items: center;
	align-items: center;
	min-height: 50px;
}

.header__botton:hover {
	cursor: pointer;
}
.botton {
}
.botton__link {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.142;
	color: #ffffff;
	padding: 20px 30px;
	text-transform: uppercase;
}
.botton__link:hover {
	text-decoration: underline;
}
@media (max-width: 550px) {
	.header__botton {
		min-height: 40px;
		padding: 5px 10px;
	}
	.botton__link {
		font-size: 12px;
	}
}
@media (max-width: 426px) {
	.header__container {
		justify-content: space-between;
	}
	.menu__item:not(:last-child) {
		margin: 0px 10px 10px 0px;
	}
	.menu__item {
		margin: 0px 10px 10px 0px;
	}
	.menu__list {
		max-width: 160px;
		font-size: 16px;
		justify-content: space-between;
	}
	.header__logo {
		font-size: 16px;
		margin: 0px 15px 0px 0px;
	}
	.header__botton {
		min-height: 30px;
	}
	.botton__link {
		padding: 5px 10px;
	}
}
@media (max-width: 400px) {
	.header__container {
		flex-wrap: nowrap;
	}
	.menu__item:not(:last-child) {
		margin: 0px 5px 0px 0px;
	}
	.menu__item {
		margin: 0px 5px 0px 0px;
	}
	.menu__list {
		flex-wrap: wrap;
	}
	.menu__item {
		flex: 0 1 50%;
	}
}
/* ===== end header ===== */

/* ===== thrivetalk ===== */
.thrivetalk {
	background: url("../img/thrivetalk_img.png") top right no-repeat;
	background-color: #f4f9e2;
}
.thrivetalk__row {
}
.thrivetalk__content {
	padding: 240px 0px 79px 0px;
}
.content-thrivetalk {
}
.content-thrivetalk__subtitle {
	font-weight: 700;
	line-height: 1.125;
	letter-spacing: -0.035em;
	color: #62d0df;
	margin: 0px 0px 40px 0px;
}
.content-thrivetalk__title {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.104;
	letter-spacing: -0.035em;
	color: #22356f;
	margin: 0px 0px 78px 0px;
	max-width: 484px;
}
.content-thrivetalk__text {
	line-height: 1.75;
	color: #22356f;
	margin: 0px 0px 63px 0px;
	max-width: 469px;
}
.content-thrivetalk__buttons {
}
.button {
	padding: 10px 30px;
	font-size: 16px;
	line-height: 1.43;
	letter-spacing: 0.1em;
}
.button:hover {
	text-decoration: underline;
}
.button_orange {
	background-color: #f9b640;
	color: #ffffff;
}
.button_outline {
	color: #fab63e;
}
.thrivetalk__image {
}
/* ===== end thrivetalk ===== */

/* ===== thrive ===== */
.thrive {
	background: url("../img/thrive_img.jpg") top right / auto 100% no-repeat;
	background-color: #62d0df;
}
.thrive__row {
}
.thrive__content {
	padding: 151px 0px 95px 0px;
}
.content-thrive {
	color: #ffffff;
}
.content-thrive__title {
	font-size: 36px;
	font-weight: 700;
	line-height: 0.75;
	letter-spacing: -0.006em;
	margin: 0px 0px 75px 0px;
}
.content-thrive__text {
	line-height: 1.45;
	max-width: 555px;
}
/* ===== end thrive ===== */

/* ===== about ===== */
.about {
}
.about__container {
	max-width: 1260px;
}
.about__row {
}
.about__content {
	padding: 150px 0px 0px 0px;
}
.content-about {
	display: flex;
	color: #22356f;
}
.content-about__title {
	font-size: 16px;
	line-height: 1.43;
	letter-spacing: 0.06em;
	margin: 0px 225px 0px 0px;
}
.content-about__text {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.005em;
	max-width: 592px;
}
/* ===== end about ===== */

/* ===== wecan ===== */
.wecan {
}
.wecan__row {
	padding: 70px 0px 120px 0px;
}
.wecan__title {
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.06em;
	text-align: center;
	margin: 0px 0px 24px 0px;
	color: rgba(34, 53, 111, 0.5);
}
.wecan__cards {
	display: flex;
	flex-wrap: wrap;
}
.wecan__item {
	background: url("../img/wecan__item_bg.png") 54px 125px no-repeat;
	padding: 95px 0px 211px 78px;
	flex: 1 1 25%;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.06;
	letter-spacing: -0.006em;
	color: #ffffff;
}
.wecan__item::before {
	content: "";
	display: block;
	height: 1px;
	background-color: #fff;
	width: 255px;
	margin: 0px 0px 23px -26px;
}
.wecan__item_pink {
	background-color: #ffe2de;
}
.wecan__item_green {
	background-color: #c4e769;
}
.wecan__item_aqua {
	background-color: #62d0df;
}
.wecan__item_blue {
	background-color: #0052c1;
}
/* ===== end wecan ===== */

/* ===== health ===== */
.health {
}
.health__row {
}
.health__cards {
	display: flex;
	flex-wrap: wrap;
}
.health__item {
	background: url("../img/wecan__item_bg.png") 54px 125px no-repeat;
	padding: 95px 0px 211px 78px;
	flex: 1 1 33.333%;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.06;
	letter-spacing: -0.006em;
	color: #ffffff;
	transition: 1s;
}
.health__item::before {
	content: "";
	display: block;
	height: 1px;
	background-color: #fff;
	width: 255px;
	margin: 0px 0px 23px -26px;
}
.health__item:hover {
	background: url("../img/health__bg_hover.png") 0 0 / 100% 100% no-repeat;
	transition: all 0.3s ease 0s;
}
.health__item_1 {
	background-color: #22356f;
}
.health__item_2 {
	background-color: #0052c1;
}
.health__item_3 {
	background-color: #76b58b;
}
.health__item_4 {
	background-color: #62d0df;
}
.health__item_5 {
	background-color: #dee1ff;
}
.health__item_6 {
	background-color: #8f00ff;
}
/* ===== end health ===== */

/* ===== services ===== */
.services {
	padding: 22px 0px 40px 0px;
}
.services__row {
}
.services__cadrs {
	display: flex;
	flex-wrap: wrap;
}
.services__item {
	padding: 55px 77px 37px 105px;
	flex: 1 1 33.333%;
}
.item-services__title {
	font-size: 28px;
	line-height: 1.18;
	letter-spacing: -0.03em;
	color: #22356f;
	margin: 0px 0px 28px 0px;
}
.item-services__text {
	font-size: 16px;
	line-height: 1.57;
	letter-spacing: -0.03em;
	color: rgba(34, 53, 111, 0.5);
}
/* ===== end services ===== */

/* ===== should ===== */
.should {
	background: url("../img/should_img.jpg") top left / auto 100% no-repeat;
}
.should__row {
}
.should__content {
	padding: 103px 175px 42px 589px;
}
.content-should {
	color: #22356f;
}
.content-should__title {
	font-size: 16px;
	line-height: 0.75;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin: 0px 0px 225px 0px;
}
.content-should__text {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.48;
	letter-spacing: -0.01em;
	min-width: 676px;
	margin: 0px 0px 152px 0px;
}
.content-should__text_color {
	color: #62d0df;
}
.content-should__link {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.44;
	letter-spacing: 0.1em;
	color: #fab63e;
}
.content-should__link:hover {
	text-decoration: underline;
}
/* ===== end should ===== */

/* ===== contact-us ===== */
.contact-us {
	background: url("../img/contact-us_img.jpg") top right / auto 100% no-repeat;
	background-color: #22356f;
}
.contact-us__row {
}
.contact-us__content {
	padding: 103px 0px 42px 0px;
}
.content-contact-us {
	color: #ffffff;
}
.content-contact-us__subtitle {
	font-size: 16px;
	line-height: 0.75;
	letter-spacing: 0.06em;
	margin: 0px 0px 203px 0px;
}
.content-contact-us__title {
	font-size: 64px;
	line-height: 1.47;
	letter-spacing: -0.01em;
	margin: 0px 0px 75px 0px;
}
.content-contact-us__text {
	font-size: 36px;
	line-height: 1.48;
	letter-spacing: -0.005em;
	margin: 0px 0px 68px 0px;
	max-width: 597px;
}
.content-contact-us__link {
	font-size: 16px;
	line-height: 1.44;
	letter-spacing: 0.1em;
	color: #62d0df;
}
.content-contact-us__link:hover {
	text-decoration: underline;
}
/* ===== end contact-us ===== */

/* ===== contacts ===== */
.contacts {
	background: url("../img/contacts_img.jpg") top left / auto 100% no-repeat;
}
.contacts__container {
}
.contacts__row {
}
.contacts__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 98px 40px 74px 68px;
}
.contacts__item {
	flex: 1 1 33.333%;
	max-width: 240px;
}
.contacts__item:not(:last-child) {
	margin: 0px 23px 0px 0px;
}
.item-contacts {
	font-size: 14px;
}
.item-contacts__title {
	font-weight: 700;
	line-height: 0.79;
	letter-spacing: -0.006em;
	text-transform: uppercase;
	color: #22356f;
	margin: 0px 0px 20px 0px;
}
.item-contacts__text {	
	line-height: 1.65;
	letter-spacing: -0.006em;
	color: rgba(34, 53, 111, 0.5);
	margin: 0px 0px 39px 0px;
}
.item-contacts__text_days {
	margin: 0;
}
.item-contacts__phone {
	line-height: 1.65;
	letter-spacing: -0.006em;
	color: rgba(34, 53, 111, 0.5);
	margin: 0px 0px 12px 0px;
}
.item-contacts__phone:hover {
	text-decoration: underline;
}
.item-contacts__email {
	color: #006DFF;
	line-height: 1.65;
	letter-spacing: -0.006em;
}
.item-contacts__email:hover {
	text-decoration: underline;
}
/* ===== end contacts ===== */
