/* ===== fonts ===== */
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
/* ===== end fonts ===== */

/* ===== wrapper ===== */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ===== end wrapper ===== */

/* ===== container ===== */
[class*="__container"] {
	max-width: 1130px;
	margin: 0 auto;
}
/* =====  end container ===== */

/* ===== body ===== */
body {
	font-family: 'Larsseit', sans-serif;
	font-size: 24px;
}
/* ===== end body ===== */

/* ===== header ===== */
.header {
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
}
.menu__item {
}
.menu__link {
}
.header__botton {
}
.botton {
}
.botton__link {
}
/* ===== end header ===== */