/* ===== fonts ===== */
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
/* ===== end fonts ===== */

/* ===== wrapper ===== */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ===== end wrapper ===== */

/* ===== container ===== */
[class*="__container"] {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0px 15px; /* * Отступы безопасности, что бы контент не прилипал к краям экрана */
}
/* =====  end container ===== */

/* ===== body ===== */
body {
	font-family: "Larsseit", sans-serif;
	font-size: 24px;
	color: #22356f;
}
/* ===== end body ===== */

/* ===== main ===== */
.main {
	flex: 1 1 auto;
}
/* ===== end main ===== */

/* ===== header ===== */
.header {
	/* * Фиксация шапки абсолютно */
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	flex-wrap: wrap;
	min-height: 93px;
	align-items: center;
	justify-content: space-between;
}
.header__logo {
	font-weight: 700;
	line-height: 1.125;
	letter-spacing: -0.035em;
	color: #62d0df;
	margin: 0px 5px 0px 0px; /* * Отступы безопасности, что бы логотип не прилипал к меню */
}
.header__logo:hover {
	text-decoration: underline;
}
.header__menu {
	margin: 0px 5px 0px 0px; /* * Отступы безопасности, что бы меню не прилипало к кнопке */
}
.menu {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
}
.menu__item:hover {
	text-decoration: underline;
}
.menu__item:not(:last-child) {
	margin: 0px 27px 0px 0px;
}
.menu__link {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.142;
	color: #22356f;
}
.header__botton {
	background: #62d0df;
	border-radius: 50px;
	display: flex;
	align-items: center;
	align-items: center;
	min-height: 50px;
	/* padding: 5px 30px; */
}

.header__botton:hover {
	cursor: pointer;
}
.botton {
}
.botton__link {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.142;
	color: #ffffff;
	padding: 20px 30px;
	text-transform: uppercase;
}
.botton__link:hover {
	text-decoration: underline;
}
@media (max-width: 550px) {
	.header__botton {
		min-height: 40px;
		padding: 5px 10px;
	}
	.botton__link {
		font-size: 12px;
	}
}
@media (max-width: 426px) {
	.header__container {
		justify-content: space-between;
	}
	.menu__item:not(:last-child) {
		margin: 0px 10px 10px 0px;
	}
	.menu__item {
		margin: 0px 10px 10px 0px;
	}
	.menu__list {
		max-width: 160px;
		font-size: 16px;
		justify-content: space-between;
	}
	.header__logo {
		font-size: 16px;
		margin: 0px 15px 0px 0px;
	}
	.header__botton {
		min-height: 30px;
	}
	.botton__link {
		padding: 5px 10px;
	}
}
@media (max-width: 400px) {
	.header__container {
		flex-wrap: nowrap;
	}
	.menu__item:not(:last-child) {
		margin: 0px 5px 0px 0px;
	}
	.menu__item {
		margin: 0px 5px 0px 0px;
	}
	.menu__list {
		flex-wrap: wrap;
	}
	.menu__item {
		flex: 0 1 50%;
	}
}
/* ===== end header ===== */

/* ===== thrivetalk ===== */
.thrivetalk {
	background: url("../img/thrivetalk_img.png") top right no-repeat;
	background-color: #f4f9e2;
}
.thrivetalk__row {
}
.thrivetalk__content {
	padding: 240px 0px 79px 0px;
}
.content-thrivetalk {
}
.content-thrivetalk__subtitle {
	font-weight: 700;
	line-height: 1.125;
	letter-spacing: -0.035em;
	color: #62d0df;
	margin: 0px 0px 40px 0px;
}
.content-thrivetalk__title {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.104;
	letter-spacing: -0.035em;
	color: #22356f;
	margin: 0px 0px 78px 0px;
	max-width: 484px;
}
.content-thrivetalk__text {
	line-height: 1.75;
	color: #22356f;
	margin: 0px 0px 63px 0px;
	max-width: 469px;
}
.content-thrivetalk__buttons {
}
.button {
	padding: 10px 30px;
	font-size: 16px;
	line-height: 1.43;
	letter-spacing: 0.1em;
}
.button:hover {
	text-decoration: underline;
}
.button_orange {
	background-color: #f9b640;
	color: #ffffff;
}
.button_outline {
	color: #fab63e;
}
.thrivetalk__image {
}
/* ===== end thrivetalk ===== */

/* ===== thrive ===== */
.thrive {
	background: url("../img/thrive_img.jpg") top right / auto 100% no-repeat;
	background-color: #62d0df;
}
.thrive__row {
}
.thrive__content {
	padding: 151px 0px 95px 0px;
}
.content-thrive {
	color: #ffffff;
}
.content-thrive__title {
	font-size: 36px;
	font-weight: 700;
	line-height: 0.75;
	letter-spacing: -0.006em;
	margin: 0px 0px 75px 0px;
}
.content-thrive__text {
	line-height: 1.45;
	max-width: 555px;
}
/* ===== end thrive ===== */

/* ===== about ===== */
.about {
}
.about__container {
	max-width: 1260px;
}
.about__row {
}
.about__content {
	padding: 150px 0px 0px 0px;

}
.content-about {
	display: flex;
	color: #22356f;
}
.content-about__title {
	font-size: 16px;
	line-height: 1.43;
	letter-spacing: 0.06em;
	margin: 0px 225px 0px 0px;
}
.content-about__text {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.005em;
	max-width: 592px;
}
/* ===== end about ===== */
